

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Car Shop Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null!, 'add')"> Add cars <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchCars(key.value)" #key="ngModel" ngModel name="key" id="searchName"
        class="form-control mr-sm-2" placeholder="Search cars.." required>
    </form>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <!-- Section Heading-->
      <div class="section-heading text-center wow fadeInUp" data-wow-delay="0.2s"
        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <h3>Admin Page</h3>
        <h3>Let's update the best car list</h3>

        <div class="line"></div>
      </div>
    </div>
  </div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let car of cars" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="{{car?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{car?.brand}}</h5>
            <p class="m-0">Premium Cars</p>
          </div>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa float-right"></i>Vehicle Number : <a
              href="#">{{car?.vehicleNumber}}</a></li>
          <li class="list-group-item"><i class="fa float-right"></i>Color : <a href="#">{{car?.color}}</a></li>
          <li class="list-group-item"><i class="fa float-right"></i>Price : $ <a href="#">{{car?.price}}</a></li>
        </ul>

        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal(car, 'edit')" class="btn btn-primary tooltips" data-placement="top"
              data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(car, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
              data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Car Modal -->
  <div class="modal fade" id="addCarModal" tabindex="-1" role="dialog" aria-labelledby="addECarModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCarModalLabel">Add Car</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddCar(addForm)">
            <div class="form-group">
              <label for="brand">Name</label>
              <input type="text" ngModel name="brand" class="form-control" id="brand" placeholder="brand" required>
            </div>
            <div class="form-group">
              <label for="color">color</label>
              <input type="text" ngModel name="color" class="form-control" id="color" placeholder="color" required>
            </div>
            <div class="form-group">
              <label for="vehicleNumber">vehicleNumber</label>
              <input type="text" ngModel name="vehicleNumber" class="form-control" id="vehicleNumber"
                placeholder="vehicleNumber" required>
            </div>
            <div class="form-group">
              <label for="price">price</label>
              <input type="number" ngModel name="price" class="form-control" id="price" placeholder="price" required>
            </div>
            <div class="form-group">
              <label for="imageUrl">Image URL</label>
              <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL"
                required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-car-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



  <!-- Edit Modal -->
  <div class="modal fade" id="updateCarModal" tabindex="-1" role="dialog" aria-labelledby="carEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateCarModalLabel">Edit Car {{editCar?.brand}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="brand">brand</label>
              <input type="text" ngModel="{{editCar?.brand}}" name="brand" class="form-control" id="brand"
                placeholder="brand">
            </div>

            <div class="form-group">
              <label for="color">color</label>
              <input type="text" ngModel="{{editCar?.color}}" name="color" class="form-control" id="color"
                placeholder="color">
            </div>
            <div class="form-group">
              <label for="vehicleNumber">vehicleNumber</label>
              <input type="text" ngModel="{{editCar?.vehicleNumber}}" name="vehicleNumber" class="form-control"
                id="vehicleNumber" placeholder="vehicleNumber">
            </div>
            <div class="form-group">
              <label for="price">price</label>
              <input type="text" ngModel="{{editCar?.price}}" name="price" class="form-control" id="price" name="price"
                placeholder="price">
            </div>
            <div class="form-group">
              <label for="imageUrl">Image URL</label>
              <input type="text" ngModel="{{editCar?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl"
                placeholder="Image URL">
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="onUpdateCar(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
                changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteCarModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Car</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete car {{deleteCar?.brand}} ? </p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteCar(deleteCar.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no Car -->
<div *ngIf="cars.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO CAR!</h4>
    <p>No Cars were found.</p>
  </div>
</div>
